<div class="tasks-container-outter">
  <app-tasks-list
    listTitle="To Do"
    (addTask)="onAddTodoTask($event)"
    (clearTasks)="onClearTodo()"
  >
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doingList, doneList]"
      class="tasks-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-task *ngFor="let task of todo">{{ task }}</app-task>
    </div>
  </app-tasks-list>

  <app-tasks-list
    listTitle="Doing"
    (addTask)="onAddDoingTask($event)"
    (clearTasks)="onClearDoing()"
  >
    <div
      cdkDropList
      #doingList="cdkDropList"
      [cdkDropListData]="doing"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      class="tasks-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-task *ngFor="let task of doing">{{ task }}</app-task>
    </div>
  </app-tasks-list>

  <app-tasks-list
    listTitle="Done"
    (addTask)="onAddDoneTask($event)"
    (clearTasks)="onClearDone()"
  >
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList, doingList]"
      class="tasks-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-task *ngFor="let task of done">{{ task }}</app-task>
    </div>
  </app-tasks-list>
</div>
