<div class="tasks-container-outter">
  <app-tasks-list
    *ngFor="let table of tables; index as i"
    [listTitle]="table.title"
    (addTask)="onAddTask($event, table.id)"
    (clearTasks)="onClear(table.id)"
  >
    <div
      cdkDropList
      [id]="'list-' + table.id"
      [cdkDropListData]="tasksTables[table.id].tasks"
      [cdkDropListConnectedTo]="tablesIds"
      class="tasks-list"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-template
        [ngIf]="tasksTables[table.id].tasks.length > 0"
        [ngIfElse]="noTasks"
      >
        <app-task
          *ngFor="let task of tasksTables[table.id].tasks"
          [canDrag]="true"
          [text]="task.title"
        ></app-task>
      </ng-template>
      <ng-template #noTasks>
        <app-task [canDrag]="false" text="No tasks"></app-task>
      </ng-template>
    </div>
  </app-tasks-list>
</div>
